Series in pandas is a column in a table

In [1]:
import numpy as np
import pandas as pd

In [2]:
#series storing strings

In [3]:
countries = ['India','Pakistan','England','Wales','Scotland','North Ireland']

pd.Series(countries)

0            India
1         Pakistan
2          England
3            Wales
4         Scotland
5    North Ireland
dtype: object

In [4]:
#series for integer values

In [5]:
pd.Series([12,34,45,33,199])

0     12
1     34
2     45
3     33
4    199
dtype: int64

In [6]:
#custom indexing

In [8]:
subjects=['maths','english','chemistry','physics','DAA']
marks=[12,23,44,22,12]
pd.Series(marks,index=subjects)

maths        12
english      23
chemistry    44
physics      22
DAA          12
dtype: int64

In [12]:
#Naming our series!
pd.Series(marks,index=subjects,name='Faisal\'s marks')

maths        12
english      23
chemistry    44
physics      22
DAA          12
Name: Faisal's marks, dtype: int64

In [28]:
#turning dict's into pandas Series
dict={
    'maths':44,
    'python':44,
    'DAA':34,
    'ALTC':50,
}

marks_series = pd.Series(dict,name='Faisal\'s marks')

In [29]:
marks_series.size

4

In [30]:
marks_series.dtype

dtype('int64')

In [31]:

marks_series.name

"Faisal's marks"

In [32]:
marks_series.is_unique

False

In [34]:
marks_series.index

Index(['maths', 'python', 'DAA', 'ALTC'], dtype='object')

In [35]:
marks_series.values

array([44, 44, 34, 50])